<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                th:replace="_layout :: view(~{::#content})">
<head th:replace="fragments :: main_header">
</head>
<body>
<div id="content">
    <div th:replace="fragments :: breadcrumb('List Product')"></div>
    <!--start List Product-->
    <div class="list_user px-4">
        <div th:if="${listProduct.size() == 0}" class="alert alert-danger mt-3 " role="alert">Empty list!</div>
        <div th:if="${success != null}" class="alert alert-success  mt-3" role="alert">[[${success}]]</div>
        <div th:if="${error != null}" class="alert alert-danger  mt-3" role="alert">[[${error}]]</div>
        <div class="d-flex justify-content-between  mt-3  ">
            <a th:href="@{/product/add}" class="btn btn-create">Create New Product</a>
            <div class="group_export bg-dark bg-opacity-10 border border-1 border-dark">
                <a th:href="@{/product/export/csv}" class="btn btn-export">Export to csv</a>
                <a th:href="@{/product/export/excel}" class="btn btn-export">Export to Excel</a>
                <a th:href="@{/product/export/pdf}" class="btn ">Export to Pdf</a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Material</th>
                <th scope="col">Color</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity Left</th>
                <th scope="col">Quantity Sold</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${listProduct}">
                <td>[[${item.productId}]]</td>
                <td>
                    <img  th:src="@{/}" alt="avatar" class="img-fluid rounded-circle" style="width : 60px">
                </td>
                <td>[[${item.name}]]</td>
                <td>[[${item.colors}]]</td>
                <td>[[${item.sizes}]]</td>
                <td>[[${item.material}]]</td>
                <td>[[${item.price}]]</td>
                <td>[[${item.quantityLeft}]]</td>
                <td>[[${item.quantitySold}]]</td>
                <td>[[${item.productType.name}]]</td>
                <td>
                    <a th:href="@{'/product/edit?id=' + ${item.productId}}">Edit</a>
                    <a th:href="@{'/product/delete?id=' + ${item.productId}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--end List Product-->
</div>
<script>

</script>
</body>
</html>