<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="view(content)">
<head th:replace="fragments :: main_header('none')">
</head>
<body>
    <div class="container-fluid h-100 px-0">
        <div id="nav_main" class="mb-1 ">
            <div class="row justify-content-between">
                <div class="col-2 d-flex align-items-center px-0">
                    <div class="hambuger ms-3">
                        <i class="bi bi-list fs-3"></i>
                    </div>
                    <a class="main_logo d-flex align-items-center text-decoration-none fw-bold fs-4 ms-3" th:href="@{/}">
                        TK<span class="text-danger ">SHOP</span>
                    </a>
                </div>

                <div class="col-6 d-flex align-items-center">
                    <form class="search_form w-100 d-flex align-items-center justify-content-between  ">
                        <i class="bi bi-search"></i>
                        <input type="text" name="" id=""  placeholder="Type here ">
                        <div class="voice_icon d-flex justify-content-center align-items-center ms-2 pointer ">
                            <i class="bi bi-mic"></i>
                        </div>
                    </form>
                </div>
                <div class="col-2  info_user d-flex align-items-center justify-content-end ">
                    <i class="bi bi-clock-history fs-5 me-3 pointer"></i>
                    <div class="noti position-relative pointer">
                        <i class="bi bi-bell fs-5  me-3 "></i>
                        <div class="noti_number"></div>
                    </div>
                    <div class="pointer">
                        <img th:src="@{/images/user1.jpg}" alt="" width="40px" class="rounded-circle dropdown-toggle"  data-bs-toggle="dropdown">
                        <ul class="dropdown-menu dropdown-menu-end dropdown-account">
                            <li>
                                <button class="dropdown-item" type="button">
                                    <i class="bi bi-pen me-2"></i>
                                    Manager profile
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    <i class="bi bi-question-circle me-2"></i>
                                    Help center
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    <i class="bi bi-arrow-clockwise me-2"></i>
                                    Change account
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    <i class="bi bi-box-arrow-left me-2"></i>
                                    Sign out
                                </button>
                            </li>
                        </ul>
                    </div>
                    <label class="ui-switch ms-3">
                        <input type="checkbox">
                        <div class="slider">
                            <div class="circle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div  class="container-fluid px-0">
            <div class="row h-100 mx-0">
                <div id="dashboard" class="col-2 ">

                        <a th:replace="fragments :: dashboard_item('/users', 'Users', 'far fa-user fs-4')"></a>
                        <a th:replace="fragments :: dashboard_item('/category/all', 'Categories', 'fad fa-hat-wizard fs-4')"></a>
                        <a th:replace="fragments :: dashboard_item('/product-type/all', 'Product type', 'fab fa-yelp fs-4')"></a>
                        <a th:replace="fragments :: dashboard_item('/product/all', 'Products', 'fab fa-product-hunt fs-4')"></a>
                        <a th:replace="fragments :: dashboard_item('/customer/all', 'Customers', 'fas fa-user-tie fs-4')"></a>
                        <a th:replace="fragments :: dashboard_item('/shipping', 'Shipping', 'fas fa-dolly fs-4')"></a>
                        <a th:replace="fragments :: dashboard_item('/reports', 'Sale reports', 'fas fa-tags fs-4')"></a>

                </div>
                <div th:include="${content}" id="contents" class=" col-10 "></div>
            </div>
        </div>
    </div>

<footer th:replace="fragments :: footer"></footer>

    <script th:inline="javascript">
        $(document).ready(function(){
             var currentLocation = window.location.pathname;
             $('#dashboard a').each( function(i){
                if( this.href.includes(currentLocation)){
                    $(this).addClass('active');
                }
            });
        });
    </script>
</body>
</html>