<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="main_header(title)">
    <meta charset="UTF-8">
    <title>[[${title}]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.js}"></script>
</head>
<body>
<!--start nav -->
<nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/ShopmeAdmin}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ShopmeAdmin}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ShopmeAdmin}">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ShopmeAdmin}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ShopmeAdmin}">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ShopmeAdmin}">Shipping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ShopmeAdmin}">Sale reports</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--end nav -->
<div th:fragment="footer">

</div>
</body>
</html>